/*规划方案*/
 /* 背景图容器，设置背景图并控制尺寸、位置等 */
    .bg-container {
      width: 100vw;
      height: 100vh;
      background: url('../../img/sy/11.jpg') no-repeat center center / cover;
      position: relative;
    }

    /* 白色区域及内容样式 */
    .white-box {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); 
      width: 500px;
      height: 450px;
      background-color: white;
      padding: 30px;
      /* 使用flexbox实现内容居中 */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .white-box h1 {
      color: #c7b288; /* 浅金色字体颜色 */
      font-size: 50px;
      margin-bottom: 40px;
    }

    .white-box a {
      margin-bottom: 30px; /* 增加段落与按钮的间距 */
      font-size: 20px; /* 适当增大字体 */
       text-decoration: none;
       color: #333333; /* 灰黑色 */
    }

    .white-box b {
      display: inline-block;
     
      color: #333;
      border: 1px solid #333;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 50px; /* 使箭头垂直居中 */
      transition: all 0.3s ease;
      font-size: 20px;
    }