/*尾页*/
.containerii {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    
    /* 联系我们按钮 */
.ccssbutt {
    display: inline-block;
    padding: 22px 50px;
    background: linear-gradient(135deg, #d4af37, #f0e6d2);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
}
    
    
          /* 底部导航栏 */


    .left-col,
    .middle-col,
    .right-col {
      flex: 1;
      min-width: 250px;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .logo img {
      height: 50px;
      margin-right: 10px;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
    }

    .address,
    .time,
    .contact {
      margin-bottom: 15px;
    }

    .address p,
    .time p,
    .contact p {
      margin: 5px 0;
    }

    .dividertty {
      width: 1px;
      background-color: #ccc;
      margin: 0 20px;
    }

    .qr-code {
      text-align: center;
      margin-bottom: 15px;
    }
    

    .qr-code img {
      width: 200px;
    }
    .footer {
      text-align: center;
      margin-top: 20px;
      color: #999;
      font-size: 14px;
    }